.DS_Store
*.swp
*.sublime-workspace
Thumbs.db

.idea/
*.iml
*.iws
*.ipr
/_ReSharper.Caches/
riderModule.iml

.vs/
.vscode/
.override/
*.suo
*.user
*.userosscache
*.sln.docstates
*.njsproj
*.pubxml

bin/
obj/
/packages/
**/wwwroot/lib/
artifacts/

*.cache
*.log
*.tmp
*.temp

**/packages/*
!**/packages/repositories.config
.nuget/
*.nupkg
nuget.exe

**/wwwroot/dist/
**/node_modules/
**/bower_components/

**/publish/
*.pdb
*.exe
*.dll.config